body {
  background-color: black;
  font-family: arial;
  font: white;
}
h1 {
  color: grey;
  font: verdana;
}
.maindiv {
  background: white;
  font: black;
  width: 300px;
  padding: 20px;
  border-radius: 25px;
  align-items: center;
}
